.root {
    position: relative;
}

.tutors-list {
    margin: auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 960px;
}
